@use './variables.module.scss' as vars;

#app {
  .main-container {
    min-height: 100%;
    position: relative;
  }

  .sidebarHide {
    margin-left: 0!important;
  }

  .sidebar-container {
    display: none;
  }

  .hideSidebar {
    .sidebar-container {
      display: none;
    }
  }

  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      display: none;
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
